.member {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 220px;
  line-height: 1.5em;
  font-size: 13px;
  margin: 0 15px 15px;
}

.frame {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  height: 220px;
  margin-bottom: 10px;
}

.picture {
  width: 200px;
  height: 200px;
}

.name {
  color: #00a7ed;
}

.position {
  font-weight: 500;
}

.description {
  color: #888;
  line-height: 1.2em;
  max-width: 150px;
  margin: 0 auto;
}