._container_170ml_1 {
  padding-left:15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

._flex_170ml_9 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._flexWrap_170ml_15 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

._flexContainer_170ml_21 {
}

._flexContainerWrap_170ml_26 {
}

/* Tablets */
@media (min-width: 768px) {
  ._container_170ml_1 {
    width: 750px;
  }
}

/* Desktops */
@media (min-width: 992px) {
  ._container_170ml_1 {
    width: 970px;
  }
}

/* Large desktops */
@media (min-width: 1200px) {
  ._container_170ml_1 {
    width: 1170px;
  }
}._about_mjnve_1 {
  color: #666;
}

._title_mjnve_5 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}

._about_mjnve_1 p {
  line-height: 1.6em;
}

._sectionPadding_mjnve_17 {
  padding-top: 80px;
  padding-bottom: 80px;
}

._mapSection_mjnve_22 {
}

._mapSection_mjnve_22 h3 {
  line-height: 1.4em;
  font-weight: normal;
  font-size: 22px;
}

._map_mjnve_22 {
  flex-grow: 3;
  flex-basis: 0;
  flex-shrink: 0;
  background-image: url(/img/about/map.jpg);
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
}

._who_mjnve_43 {
  flex-grow: 4;
  flex-basis: 0;
  flex-shrink: 0;
  padding: 40px 0;
}

._who_mjnve_43 p {
  text-align: justify;
}

._statements_mjnve_54 {
  background-color: #00a7ed;
  color: white;
  overflow: hidden;
}

._statement_mjnve_54 {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  font-weight: 300;
  text-align: justify;
}

._statement_mjnve_54:not(:first-child) {
  padding-left: 50px;
}

._statement_mjnve_54:not(:last-child) {
  padding-right: 50px;
}

._team_mjnve_76 {
  background-color: #eee;
}

._team_mjnve_76 h2 {
  color: #00a7ed;
  padding-bottom: 30px;
}

._spaceAround_mjnve_86 {
  justify-content: space-around;
}

@media(max-width: 992px) {
  ._map_mjnve_22 {
    background-size: auto 60%;
  }
}

@media(max-width: 768px) {
  ._mapSection_mjnve_22 {
    flex-direction: column;
  }

  ._map_mjnve_22 {
    flex: auto;
    background-size: contain;
  }

  ._who_mjnve_43 {
    flex: auto;
    padding: 10px 0 0; 
  }

  ._statement_mjnve_54 {
    flex: auto;
    width: 100%;
  }

  ._statement_mjnve_54:not(:first-child) {
    padding-left: 0px;
  }

  ._statement_mjnve_54:not(:last-child) {
    padding: 0 0 20px;
  }
}._member_1d6yo_1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 220px;
  line-height: 1.5em;
  font-size: 13px;
  margin: 0 15px 15px;
}

._frame_1d6yo_11 {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  height: 220px;
  margin-bottom: 10px;
}

._picture_1d6yo_19 {
  width: 200px;
  height: 200px;
}

._name_1d6yo_24 {
  color: #00a7ed;
}

._position_1d6yo_28 {
  font-weight: 500;
}

._description_1d6yo_32 {
  color: #888;
  line-height: 1.2em;
  max-width: 150px;
  margin: 0 auto;
}._contact_3hsxu_1 {
  background-color: #eee;
}

._formSection_3hsxu_5 {
  padding: 50px 15px;
  max-width: 500px;
  margin: auto;
  background-color: #eee;
}

._write_3hsxu_12 {
  margin-top: 50px;
  color: #666;
}

._write_3hsxu_12 p {
  margin: 5px 0;
}

._error_3hsxu_21 {
  color: #f33;
}._link_9p9ta_1 {
  text-decoration: none;
  color: #00a7ed;
}

._link_9p9ta_1:hover {
  text-decoration: underline;
}._navItem_1rtsn_1 {
  display: flex;
  align-items: center;
}._navbar_1ey1g_1 {
  display: flex;
}

._navItems_1ey1g_5 {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

._logo_1ey1g_11 {
  width: 200px;
  height: 70px;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media(max-width: 768px) {
  ._logo_1ey1g_11 {
    width: 40px;
    background-image: url(/img/icon.png);
  }
}._footer_1saqw_1 {
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

._disclaimer_1saqw_9 {
  display: block;
  padding: 15px 0 20px;
  text-align: center;
  color: #bbb;
  font-size: 14px;
  font-weight: normal;
}

._linkContainer_1saqw_18 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}

._linkSection_1saqw_25 {
  display: flex;
  flex-wrap: wrap;
}

._link_1saqw_18 {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px;
}

._link_1saqw_18:hover {
  text-decoration: underline;
}

._logo_1saqw_42 {
  background-image: url(/img/logo-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  width: 250px;
  height: 60px;
}

._facebook_1saqw_51 {
  border-radius: 5px;
  background-image: url(/img/facebook.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
  margin: -15px 10px;
}._navLink_1jwmj_1 {
  text-decoration: none;
  padding: 15px;
  color: #444;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

._navLink_1jwmj_1:hover {
  background-color: #eee;
}._header_zd4l2_1 {
  background-color: #0071d6;
  overflow: hidden;
  padding: 100px 0 100px;
  position: relative;
}

._message_zd4l2_8 {
  height: 210px;
  position: relative;
  margin: 0 auto 80px;
  max-width: 600px; 
  color: white;
  background-color: #333;
  padding: 30px 50px;
  text-align: center;
}

._messageTriangle_zd4l2_19 {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: ' ';
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

._messageTriangleRight_zd4l2_30 {
  right: -50px;
  border-top: 210px solid #333;
}

._messageTriangleLeft_zd4l2_36 {
  left: -50px;
  border-bottom: 210px solid #333;
}

._message_zd4l2_8 h1 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.3em;
}

._message_zd4l2_8 h2 {
  font-weight: 200;
  font-size: 18px;
}

._buttonContainer_zd4l2_53 {
  position: relative;
  text-align: center;
  padding: 0px 15px;
}

._videoContainer_zd4l2_59 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/img/about/bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

._videoContainer_zd4l2_59:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20,20,20,0.2);
}

._video_zd4l2_59 {
  width: 100%;
}

@media(max-width: 992px) {
  ._video_zd4l2_59 {
    width: 120%;
  }
}

@media(max-width: 768px) {
  ._message_zd4l2_8 {
    height: auto;
  }

  ._messageTriangle_zd4l2_19 {
    display: none;
  }

  ._video_zd4l2_59 {
    display: none;
  }
}._info_snfzw_1 {
  background-color: #eee;
  padding-bottom: 50px;
  position: relative;
}

._band_snfzw_7 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background-color: #00a7ed;
}

._cardsContainer_snfzw_16 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

._infoCard_snfzw_22 {
  color: #888;
  text-align: justify;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(20,20,20,0.3);
  flex-grow: 1;
  flex-basis: 0;  
  border-radius: 5px;
  min-width: 250px;
  margin: 0 5px 20px;
}

._infoCard_snfzw_22 p {
  line-height: 1.5em;
}

._title_snfzw_39 {
  color: #666;
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  min-height: 2.5em;
  margin-top: 15px;
}

._icon_snfzw_48 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  height: 70px;
  margin-top: 30px;
}

@media(max-width: 768px) {
  ._cardsContainer_snfzw_16 {
    margin-left: -15px;
    margin-right: -15px;
  }

  ._infoCard_snfzw_22 {
    flex-basis: initial;
  }
}._services_hn7j5_1 {
  background-color: #00a7ed;
  padding: 40px 0 80px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

._title_hn7j5_9 {
  padding: 0 15px;
  font-size: 22px;
}

._serviceList_hn7j5_14 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

._service_hn7j5_1 {
  padding: 10px;
  flex-grow: 1;
}

._icon_hn7j5_25 {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.3);
}

._message_hn7j5_37 {
  margin: 20px auto;
  width: 170px;
}._titleSection_1s3ul_1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

._title_1s3ul_1 {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  text-shadow: 0 0 15px rgba(0,0,0,0.6);
}._input_1r3ex_1 {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px 15px;
  width: 100%;
  font-size: 14px;
  transition: 0.2s all ease-in-out;
}

._input_1r3ex_1:focus {
  outline: 0;
  border-color: #00a7ed;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

._input_1r3ex_1::-webkit-input-placeholder {
    color: #666;
}
._input_1r3ex_1:-moz-placeholder {
    /* FF 4-18 */
    color: #ddd;
}
._input_1r3ex_1::-moz-placeholder {
    /* FF 19+ */
    color: #ddd;
}
._input_1r3ex_1:-ms-input-placeholder {
    /* IE 10+ */
    color: #ddd;
}

._textarea_1r3ex_32 {
}

._formGroup_1r3ex_36 {
  margin: 15px 0;
}

._button_1r3ex_40 {
  background-color: #00a7ed;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  color: white;
  transition: 0.2s all ease-in-out;
}

._button_1r3ex_40:hover {
  background-color: #0099D9;
}

._button_1r3ex_40:focus {
  outline: 0;
}._lineButton_1ou8s_1 {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

._lineButton_1ou8s_1:hover {
  background-color: rgba(255, 255, 255, 0.4);
}